<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Live Code Editor</title>
        <link rel="stylesheet" href="style.css"> 
        <script src="https://kit.fontawesome.com/e86d32d8ab.js" crossorigin="anonymous"></script>
        <style>
            .nav{
                width: 100vw;
                height: 10px;
                margin-top: 10px;
            }

            .nav>a{
                color: yellow;
                margin-top: 5px;
                font-size: 30px;
            }

            *{
                margin: 0;
                padding: 0;
                font-family: 'Poppins','sans-serif';
                box-sizing: border-box;
            }
            body{
                background: #454545;
                color: #fff;
            }
            .container
            {
                width: 100%;
                height: 100vh;
                padding: 20px;
                display: flex;
            }
            .left,.right{
                flex-basis: 50%;
                padding: 10px;
            }
            textarea{
                width: 100%;
                height: 28%;
                background: #1f1f1f;
                color: #fff;
                padding: 10px 20px;
                border: 0;
                outline: 0;
                font-size: 18px;
            }
            iframe{
                width: 100%;
                height: 95%;
                background: #fff;
                border: 0;
                outline: 0;
            }
            label i{
                margin-right: 10px;
                margin-left: 10px;
            }
            label{
                display: flex;
                align-items: center;
                background: #000;
                height: 30px;
                
            }
            #home
{
	text-decoration: none;
	color:black;
	background-color: white;
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
    margin-left: 10px;
}
        </style>
    </head>
    <body>
       <div class="nav" > <a href="http://localhost:8000/home"  target="_blank" id="home"><b>Home</b></a></div>
        <div class="container">
            <div class="left">
                <label><i class="fa-brands fa-html5"></i> HTML</label>
                <textarea id="html-code" onkeyup="run()"></textarea>

                <label><i class="fa-brands fa-css3-alt"></i> CSS</label>
                <textarea id="css-code" onkeyup="run()"></textarea>

                <label><i class="fa-brands fa-js"></i> JavaScript</label>
                <textarea id="js-code" onkeyup="run()"></textarea>
            </div>
            <div class="right">
                <label><i class="fa-solid fa-play"></i> Output</label>
                <iframe id="output"></iframe>
            </div>
        </div>
        <script>
            function run(){
                let htmlCode=document.getElementById("html-code").value;
                let cssCode=document.getElementById("css-code").value;
                let jsCode=document.getElementById("js-code").value;
                let output=document.getElementById("output");
                output.contentDocument.body.innerHTML=htmlCode+"<style>"+cssCode+"</style>";
                output.contentWindow.eval(jsCode);
            }
        </script>
    </body>
</html>